@use '../util' as u;

.header {
  @media (width >= u.em(1110)) {
    display: flex;
    justify-content: space-between;
    padding-block: u.rem(90) u.rem(45);
  }
  &__logo {
    inline-size: u.rem(45);

    @media (width >= u.em(1110)) {
      inline-size: u.rem(64);
    }
  }

  &__links {
    @media (width >= u.em(1110)) {
      display: flex;
      gap: u.rem(40);
    }
  }

  &__link {
    color: var(--clr-blue);
    font-size: var(--fz-xs);
    line-height: 1.3;
    transition: color var(--transition);

    @media (width >= u.em(1110)) {
      font-size: var(--fz-body);
      color: var(--clr-gray);

      &:hover {
        color: var(--clr-red);
      }
    }
  }
}
